
html, body { width: 100%; font-size: 12px; }
body { background-color: #fff; padding-top: 50px; }
.navbar-inverse .navbar-inner{ background-color: #382465;} 
.center {margin-left: auto; margin-right: auto;}

#accordion2, #searchform { width: 600px; }


#slickgrid {
	width: 600px;
	height: 500px;
	overflow: hidden;
	font-size: 0.75em;
	margin-left: 40px;
}

#filterpanel {
	width: 170px;
	position: absolute;
	float: left;
	left: 0;
	padding-left: 20px;
}

.filterval {
	display: block;
	padding-left: 2em;
}

.filterrow select {
	font-size: 12px;
	width: 80px;
	height: 1.5em;
}