<<<<<<< HEAD
html, body { width: 100%; height: 100% }
body { background-color: #f0fff0; padding-top: 60px;}
=======
html, body { width: 100%; height: 100% }
body { background-color: #f0fff0; }
.navbar-inner { background-color: #382465;} 
>>>>>>> updating html
