{% load filters %}
<h1>About UW Scheduler</h1>

<p>UW Scheduler began as project in {% course HCDE310 %}. 

<h2>Authors</h2>

<h3>Megan Torkildson</h3>

Megan is an undergraduate in {% curriculum HCDE %} at the University of Washington.


<h3>John Robinson</h3>

<p>John Robinson is first-year senior in {% curriculum HCDE %} and {% curriculum PSYCH %} at the University of Washington. I'm a member of {% instructor Cecilia %}'s <a href="http://depts.washington.edu/sccl/">Scientific Collaboration and Creativity Lab</a> as
well as {% instructor Susan "Susan Joslyn" %}'s <a href="http://depts.washington.edu/forecast/">Decision-Making with Uncertaintity Lab</a>. I have volunteered weekly at <a href="http://www.lamberthouse.org/">Lambert House</a> for four years. I have previously volunteered with <a href="http://www.llaa.org/">Life-Long Aids Alliance</a> and <a href="http://www.aids.at/">Aids Hilfe Haus.</a> </p>


<h4>Quick Facts</h4>
<ul>
	<li>was a national competitor in <a href="http://www2.ca.uky.edu/afspoultry/extension/4H-poultry_judging">poultry judging</a>
	<li>a member and former Chariman of <a href="http://www.csh.rit.edu/">Computer Science House</a>
	<li>loves going to concerts. (I've seen over 100)
	<li><a href="http://www.siff.net/index.aspx">Seattle International Film Festival</a> lover. (I see about 20 a year) Formerly frequented <a href="http://www.viennale.at/en">Viennale</a> where I'd see about 10 a year. 
</ul>

<h2>Special Thanks</h2>

We would like to thank {% instructor Sean "Sean Munson" %} for helping push us to do this project and for offering guidance throughout. We would also like to thank 