{% load filters %}
  <div class="container">
    <br>
    <h1>{{course.idcurriculum.abbreviation}} {{course.number}}</h1>
    <h2 align="CENTER">{{course.name}}</h2>
    <div style="width: 700px; margin: 0 auto;">
        <br>
        <div class="well">
            <p>{{course.description}}</p>
            {% if course.genedreqs != None %}
                <div style="display: inline"
                <p>Credit type:</p>
                {% if course.genedreqs == 1 %}
                    <span class="label label-info">NW</span>
                {% elif course.genedreqs == 2 %}
                    <span class="label label-info">VLPA</span>
                {% elif course.genedreqs == 4 %}
                    <span class="label label-info">I&amp;S</span>
                {% elif course.genedreqs == 8 %}
                    <span class="label label-info">W</span>
                {% elif course.genedreqs == 16 %}
                    <span class="label label-info">EC</span>
                {% elif course.genedreqs == 32 %}
                    <span class="label label-info">QSR</span>
                {% endif %}
                </div>
            {% endif %}
        </div>
        <br>
        <br>
        <div class="row-fluid marketing">
	        <div class="span6">
	            <h3>Sections</h3>
                <table class="table table-hover">
                    <th>Section</th>
                    <th>SLN</th>
                    <th>Instructor</th>
                    <th>Number Enrolled</th>
                    <th>Max Enrollment</th>
                    <th>Class Website</th>
                    <th>Status</th>
                {% for section in sections %}
                    {% if section.maxenrollment != null %}
                    <tr>
                        <td>{{section.section}}</td>
                        <td>{{section.sln}}</td>
                        <td>{% instructor section.idinstructor %}</td>
                        <td>{{section.numenrolled}}</td>
                        <td>{{section.maxenrollment}}</td>
                        <td>{{section.classwebsite}}</td>
                        {% if section.numenrolled < section.maxenrollment %}
                        <td><span class="label label-success">Open</span><td>
                        {% else %}
                        <td><span class="label label-important">Closed</span><td>
                        {% endif %}
                        
                    </tr>
                    {% endif %}
                {% endfor %}
                </table>
                <br>
                <br>
            </div>
            </div>
	        <h3>Instructor Ratings</h3>
            <table class="table table-hover">
                <th>Instructor</th>
                <th>Year</th>
                <th>Quarter</th>
                <th>Instructor Contribution</th>
                <th>Instructor Interest</th>
                <th>Instructor Effectiveness</th>
                <th>Amount Learned</th>
                <th>Grading</th>
                {% for section in sections %}
                    {% if section.idrating != null %}
                    <tr>
                        <td>{% instructor section.idinstructor %}</td>
                        <td>{{section.year}}</td>
                        <td>{{section.quarter}}</td>
                        <td>{{section.idrating.instructorcontribution}}</td>
                        <td>{{section.idrating.instructorinterest}}</td>
                        <td>{{section.idrating.instructoreffectiveness}}</td>
                        <td>{{section.idrating.amountlearned}}</td>
                        <td>{{section.idrating.grading}}</td>
                    </tr>                
                    {% endif %}
                {% endfor %}
        </div>   
    </div>
</div>