 <ul id="nav" class="clear">
		<li><a href="/list/A" class=""><span>A</span></a></li>
		<li><a href="/list/B" class=""><span>B</span></a></li>
		<li><a href="/list/C" class=""><span>C</span></a></li>
		<li><a href="/list/D" class=""><span>D</span></a></li>
		<li><a href="/list/E" class=""><span>E</span></a></li>
		<li><a href="/list/F" class=""><span>F</span></a></li>
		<li><a href="/list/G" class=""><span>G</span></a></li>
		<li><a href="/list/H" class=""><span>H</span></a></li>
		<li><a href="/list/I" class=""><span>I</span></a></li>
		<li><a href="/list/J" class=""><span>J</span></a></li>
		<li><a href="/list/K" class=""><span>K</span></a></li>
		<li><a href="/list/L" class=""><span>L</span></a></li>
		<li><a href="/list/M" class=""><span>M</span></a></li>
		<li><a href="/list/N" class=""><span>N</span></a></li>
		<li><a href="/list/O" class=""><span>O</span></a></li>
		<li><a href="/list/P" class=""><span>P</span></a></li>
		<li><a href="/list/Q" class=""><span>Q</span></a></li>
		<li><a href="/list/R" class=""><span>R</span></a></li>
		<li><a href="/list/S" class=""><span>S</span></a></li>
		<li><a href="/list/T" class=""><span>T</span></a></li>
		<li><a href="/list/U" class=""><span>U</span></a></li>
		<li><a href="/list/V" class=""><span>V</span></a></li>
		<li><a href="/list/W" class=""><span>W</span></a></li>
		<li><a href="/list/X" class=""><span>X</span></a></li>
		<li><a href="/list/Y" class=""><span>Y</span></a></li>
		<li><a href="/list/Z" class=""><span>Z</span></a></li>
</ul>
	<div class="clear"></div>
 <p>{map(chr, range(65, 91))}</P>
    <h1>{{department.name|default:"Unknown"}}</h1>
     <table class="table table-hover">
        <th>Number</th>
        <th>Name</th>
        <th>Max Credits</th>
        {% for course in courses %}
        <tr>
            <td>{{course.number}}</td>
            <td>{{course.name}}</td>
            <td>{{course.maxcredits}}</td>
        </tr>
        {% endfor %}
     </table>