<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{department.name|default:"Unknown"}}</title>
  </head>
  <body>
    <h1>{{department.name|default:"Unknown"}}</h1>
     <table class="table table-hover">
        <th>Number</th>
        <th>Name</th>
        <th>Max Credits</th>
        {% for course in courses %}
        <tr>
            <td>{{course.number}}</td>
            <td>{{course.name}}</td>
            <td>{{course.maxcredits}}</td>
        </tr>
        {% endfor %}
     </table>
  </body>
</html>