<div id="main">
  <div class="container">

  </div>
</div>


<script type="text/template" id="tmpl_search">
  <div id="mainlogo_container">
    <div id="mainlogo" class="span12 offset2" >
      <div class="w-wrap pull-left span5">
        <img src="{{STATIC_URL}}img/UW_W-Logo_wt.png" alt="University of Washington W Logo">
      </div>
      <div class="offset7">
        <p style="margin-top: 50px; font-size:16pt;">Search through the UW Course Catalog for classes, professors, ratings and more!</p>            
      </div>
      <div id="sched_subtitle" class="span6 pull-right">
        <h1 class="" >Scheduler</h1>
      </div>    
    </div>
  </div>
  <form class="form-search center" id="searchform"> 
    <div class="input-append">
      <input id="query" type="text" class="input-xxlarge search-query">
      <button id="searchbtn" class="btn" type="button"><i class="icon-search"></i>Search</button>
    </div>
  </form>
    <div class="accordion center" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <i class="icon-search"></i>
            Advanced Options
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            Time:

            <br>
            <select id="starttime">
              <option value="">ANY</option>
              <option value="700">7:00AM</option>
              <option value="730">7:30AM</option>
              <option value="800">8:00AM</option>
              <option value="830">8:30AM</option>
              <option value="900">9:00AM</option>
              <option value="930">9:30AM</option>
              <option value="1000">10:00AM</option>
              <option value="1030">10:30AM</option>
              <option value="1100">11:00AM</option>
              <option value="1130">11:30AM</option>
              <option value="1200">12:00AM</option>
              <option value="1230">12:30PM</option>
              <option value="1300">1:00PM</option>
              <option value="1330">1:30PM</option>
              <option value="1400">2:00PM</option>
              <option value="1430">2:30PM</option>
              <option value="1500">3:00PM</option>
              <option value="1530">3:30PM</option>
              <option value="1600">4:00PM</option>
              <option value="1630">4:30PM</option>
              <option value="1700">5:00PM</option>
              <option value="1730">5:30PM</option>
              <option value="1800">6:00PM</option>
              <option value="1830">6:30PM</option>
            </select>
            to
            <select id="endtime">
              <option value="">ANY</option>
              <option value="700">7:00AM</option>
              <option value="730">7:30AM</option>
              <option value="800">8:00AM</option>
              <option value="830">8:30AM</option>
              <option value="900">9:00AM</option>
              <option value="930">9:30AM</option>
              <option value="1000">10:00AM</option>
              <option value="1030">10:30AM</option>
              <option value="1100">11:00AM</option>
              <option value="1130">11:30AM</option>
              <option value="1200">12:00AM</option>
              <option value="1230">12:30PM</option>
              <option value="1300">1:00PM</option>
              <option value="1330">1:30PM</option>
              <option value="1400">2:00PM</option>
              <option value="1430">2:30PM</option>
              <option value="1500">3:00PM</option>
              <option value="1530">3:30PM</option>
              <option value="1600">4:00PM</option>
              <option value="1630">4:30PM</option>
              <option value="1700">5:00PM</option>
              <option value="1730">5:30PM</option>
              <option value="1800">6:00PM</option>
              <option value="1830">6:30PM</option>
            </select>
            <h5>Credit Type:</h5>
            <label class="checkbox inline"><input type="checkbox" name="ger" value="NW">NW</input></label>
            <label class="checkbox inline"><input type="checkbox" name="ger" value="VLPA">VLPA</input></label>
            <label class="checkbox inline"><input type="checkbox" name="ger" value="IS">I&amp;S</input></label>
            <label class="checkbox inline"><input type="checkbox" name="ger" value="W">W</input></label>
            <label class="checkbox inline"><input type="checkbox" name="ger" value="C">C</input></label>
            <label class="checkbox inline"><input type="checkbox" name="ger" value="QSR">QSR</input></label>
          </div>
        </div>
      </div>
    </div>  
</script>
<script type="text/template" id="tmpl_results">
  <div id="filterpanel" class="well span3">
  </div>
  <div id="results" class="offset3 span10">
    <div id="resultlist"></div>
    <div id="pager"></div>
  </div>  
</script>

<script type="text/template" id="tmpl_filterpanel">
    <h4>Filter Results</h4>
    <div class="filterrow">
      <h5>Special:</h5>
        <div class="filterval">
          <input type="checkbox" value="offered" >Offered this quarter</input><br/>
          <input type="checkbox" value="open" >Open</input><br/>
        </div>      
    </div>
    <div class="filterrow">
      <h5>Time:</h5>
        <div class="filterval">
            <label>Begins after</label>
            <select id="starttime">
              <option value="">ANY</option>
              <option value="700">7:00AM</option>
              <option value="730">7:30AM</option>
              <option value="800">8:00AM</option>
              <option value="830">8:30AM</option>
              <option value="900">9:00AM</option>
              <option value="930">9:30AM</option>
              <option value="1000">10:00AM</option>
              <option value="1030">10:30AM</option>
              <option value="1100">11:00AM</option>
              <option value="1130">11:30AM</option>
              <option value="1200">12:00AM</option>
              <option value="1230">12:30PM</option>
              <option value="1300">1:00PM</option>
              <option value="1330">1:30PM</option>
              <option value="1400">2:00PM</option>
              <option value="1430">2:30PM</option>
              <option value="1500">3:00PM</option>
              <option value="1530">3:30PM</option>
              <option value="1600">4:00PM</option>
              <option value="1630">4:30PM</option>
              <option value="1700">5:00PM</option>
              <option value="1730">5:30PM</option>
              <option value="1800">6:00PM</option>
              <option value="1830">6:30PM</option>
            </select>
            <label>Ends Before</label>
            <select id="endtime">
              <option value="">ANY</option>
              <option value="700">7:00AM</option>
              <option value="730">7:30AM</option>
              <option value="800">8:00AM</option>
              <option value="830">8:30AM</option>
              <option value="900">9:00AM</option>
              <option value="930">9:30AM</option>
              <option value="1000">10:00AM</option>
              <option value="1030">10:30AM</option>
              <option value="1100">11:00AM</option>
              <option value="1130">11:30AM</option>
              <option value="1200">12:00AM</option>
              <option value="1230">12:30PM</option>
              <option value="1300">1:00PM</option>
              <option value="1330">1:30PM</option>
              <option value="1400">2:00PM</option>
              <option value="1430">2:30PM</option>
              <option value="1500">3:00PM</option>
              <option value="1530">3:30PM</option>
              <option value="1600">4:00PM</option>
              <option value="1630">4:30PM</option>
              <option value="1700">5:00PM</option>
              <option value="1730">5:30PM</option>
              <option value="1800">6:00PM</option>
              <option value="1830">6:30PM</option>
            </select>


        </div>
    </div> 
    <div class="filterrow">
      <h5>Special Requirements:</h5>
        <div class="filterval">
            <label class="checkbox"><input type="checkbox" name="ger" value="NW">NW</input></label>
            <label class="checkbox"><input type="checkbox" name="ger" value="VLPA">VLPA</input></label>
            <label class="checkbox"><input type="checkbox" name="ger" value="IS">I&amp;S</input></label>
            <label class="checkbox"><input type="checkbox" name="ger" value="W">W</input></label>
            <label class="checkbox"><input type="checkbox" name="ger" value="C">C</input></label>
            <label class="checkbox"><input type="checkbox" name="ger" value="QSR">QSR</input></label>
        </div>      
    </div>   
</script>
<script type="text/template" id="tmpl_resultlist">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Course</th>
        <th>Name</th>
        <th>Credits</th>
        <th>Enrollment</th>
        <th>G.E. Reqs</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</script>
<script type="text/template" id="tmpl_resultitem">
  <tr>
    <td></td>
  </tr>
</script>

<script src="{{STATIC_URL}}js/app.js"></script>
<script type="text/javascript">
  window.onload = function() {

    app = new SearchApp({});

    

    Backbone.history.start();

  };
</script>
