{% load filters %}
<br>
<h1>{{objtype}}s</h1>
<hr>
<ul class="inline" id="buttoncenter">
{% for letter in letters %}
<a href="{{BASE_URL}}{{pageurl}}{{letter}}" class="btn">{{letter}}</a>
{% endfor %}
</ul>
<hr>
<div class="container">
{% if objtype == "department" %}
<ul>
    {% for curriculum in objects %}
    <li>{% curriculum curriculum curriculum.name%} ({{curriculum.abbreviation}})</li>
    {% endfor %}
</ul>
{% elif objtype == "course" %}
<ul>
    {% for course in objects %}
    <li>{% course course course.name%} ({{course.idcurriculum.abbreviation}} {{course.number}})</li>
    {% endfor %}
</ul>
{% elif objtype == "instructor" %}
<ul>
    {% for instructor in objects %}
    <li>{% instructor instructor instructor.name %}</li>
    {% endfor %}
</ul>

{% endif %}
</div>
